@use '../variables' as var;
@use '../mixins' as mix;

.summary-stats {
  padding: 2.4rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  color: var.$text-dark-navy;

  @include mix.media-large {
    flex-grow: 1;
  }

  &__heading {
    font-family: var.$font-stack-bold;
  }

  &__scores {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  &__button {
    background: var.$bg-dark-navy;
    color: var.$bg-white;
    text-align: center;
    padding: 1.6rem;
    border-radius: var.$border-radius-pill;
    transition: background 3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var.$bg-gradient-1;
    }
  }
}