// Font Stack
$font-stack: 'HankenGrotesk-Medium', sans-serif;

// Font-size
$text-body: 1.8rem;
$text-md: 2.4rem;
$text-lg: 3.2rem;
$text-xl: 7.2rem;

// Text Color
$text-light-blue: #CAC9FF;
$text-white: #fff;
$text-dark-navy: #303b59;
$text-red: #FF5555;
$text-yellow: #FFB21E;
$text-green: #00BB8F;
$text-blue: #1125D6;

// Background Color
$bg-gradient-2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0), 100%);
$bg-gradient-1: linear-gradient(180deg, #7755FF, 0%, #6943FF, 0.01%, #2F2CE9 100%);
$bg-gradient-red-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
  #FF5555;
$bg-gradient-yellow-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
  #FFB21E;
$bg-gradient-green-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
  #00BB8F;
$bg-gradient-blue-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
  #1125D6;
// $bg-gradient-red-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
//   #FF5555;
// $bg-gradient-yellow-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
//   #FFB21E;
// $bg-gradient-green-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
//   #00BB8F;
// $bg-gradient-blue-white: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
//   #1125D6;

$bg-very-light-blue: #ECF2FF;
$bg-white: #FFF;

// Border Radius
$border-radius: 3.2rem;
$border-radius-sm: 1.2rem;
$border-radius-bottom-left-right: 0px 0px 32px 32px;
$border-radius-pill: 12.8rem;

// Drop Shadow
$shadow: drop-shadow(0px 30px 60px rgba(61, 108, 236, 0.15));